<div class="main-content">
  <div class="container-fluid">
    <div class="row">




      <div class="col-md-6">
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">contacts</i>
            </div>
            <h4 class="card-title">Thông tin giảng viên</h4>
          </div>
          <div class="card-body ">
            <form class="form-horizontal" (ngSubmit)="onSubmit()">
              <div class="row">
                <label class="col-md-3 col-2 col-form-label">Mã giảng viên</label>
                <div class="col-md-9 col-9">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" [(ngModel)]="teachcher.maGV" name="maGV">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <label class="col-md-3 col-2 col-form-label">Họ Tên</label>
                <div class="col-md-9 col-9">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" [(ngModel)]="teachcher.hoTen" name="hoTen">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <label class="col-md-3 col-2 col-form-label">Ngày Sinh</label>
                <div class="col-md-9 col-9">
                  <mat-form-field class="example-full-width">     
                      <input [(ngModel)]="teachcher.ngaySinhDate" name="ngaySinh" matInput [matDatepicker]="picker" placeholder="Chọn Ngày" (click)="picker.open()">
                      <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                      <mat-datepicker #picker ></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <label class="col-md-3 col-2 col-form-label">Giới Tính</label>
                <div class="col-lg-5 col-md-8 col-sm-4">
                    <mat-form-field>
                        <mat-select placeholder="Chọn giới Tính" [(ngModel)]="teachcher.gioiTinh" name="gioiTinh">
                          <mat-option *ngFor="let sex of sexList" [value]="sex.value"  >
                            {{ sex.viewValue }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
              </div>


              <div class="row">
                <label class="col-md-3 col-2 col-form-label">Nơi Sinh</label>
                <div class="col-md-9 col-9">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" [(ngModel)]="teachcher.noiSinh" name="noiSinh">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <label class="col-md-3 col-2 col-form-label">Quê Quán</label>
                <div class="col-md-9 col-9">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" [(ngModel)]="teachcher.queQuan"  name="queQuan">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <label class="col-md-3 col-2 col-form-label">Dân Tộc</label>
                <div class="col-md-9 col-9">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" [(ngModel)]="teachcher.danToc" name="danToc">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <label class="col-md-3 col-2 col-form-label">Học Vị</label>
                <div class="col-md-9 col-9">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" [(ngModel)]="teachcher.hocVi" name="hocVi">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <label class="col-md-3 col-2 col-form-label">Chức Vụ</label>
                <div class="col-md-9 col-9">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" [(ngModel)]="teachcher.chucVu" name="chucVu">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <label class="col-md-3 col-2 col-form-label">Đơn Vị Công Tác</label>
                <div class="col-md-9 col-9">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" [(ngModel)]="teachcher.donViCongTac" name="donViCongTac">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <label class="col-md-3 col-2 col-form-label">Địa Chỉ</label>
                <div class="col-md-9 col-9">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" [(ngModel)]="teachcher.diaChi" name="diaChi">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <label class="col-md-3 col-2 col-form-label">Điện Thoại</label>
                <div class="col-md-9 col-9">
                  <mat-form-field class="example-full-width">
                    <input matInput type="number" [(ngModel)]="teachcher.dienThoai" name="dienThoai">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <label class="col-md-3 col-2 col-form-label">Email</label>
                <div class="col-md-9 col-9">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" [(ngModel)]="teachcher.email" name="email">
                  </mat-form-field>
                </div>
              </div>

              <div class="card-footer ">
                <div class="row">
                  <div class="col-md-9">
                    <button mat-raised-button type="submit" class="btn btn-fill btn-rose">Save</button>
                  </div>
                </div>
              </div>

            </form>
          </div>
          
        </div>
      </div>

    </div>
  </div>
</div>
